body {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    width: calc(100% - 30px);
    height: fit-content;
}

.header {
    display: flex;
    padding: 15px 0 15px 30px;
    width: 100%;
    height: 30px;
    background-color: skyblue;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.bullet {
    color: red;
}

#date-info {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 80%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    height: 100%;
    width: 100%;
}

.v-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-box img {
    display: flex;
    justify-content: center;
}

#video-feed {
    display: flex;
    min-width: 896px;
    min-height: 504px;
    width: 100%;
    height: 100%;
    border: 2px black solid;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
}

.latest-events-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    border: 2px skyblue solid;
    border-radius: 5px;
    background-color: rgba(135, 207, 235, 0.750);
    padding: 5px;
    width: 320px;
}

.box-text img {
    width: 50%;
    height: 50%;
    padding-right: 15px;
}

.box-text h1 {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.box-text span {
    width: 100%;
}
